{% extends 'zedse/contact.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
      <div class="features">
          {% if news %}
          {% for el in news %}
            <div class="alert alert-warning">
                <h3>{{ el.title }}</h3>
                <p>{{ el.anons }}</p>
                <a href="{% url 'detail' el.id %}" class="btn btn-warning">Подробнее</a>
            </div>
          {% endfor %}
          {% else %}
          <p>Нет записей</p>
          {% endif %}

          {# Комментарий #}
    </div>
{% endblock %}